.App {
  text-align: center;
}

#file-options {
  max-height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}

.App-link {
  color: #000000;
}

.jumbotron {
  height: 40vh;
  min-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}